{% extends "base.html" %}
{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
    <section class="text-left mb-4">
        <div class="p-4">
            <div class="mb-3">
                <p class="lead">
                <span class="lead font-weight-bold">Username: {{ user.username }}</span>
                <p class="lead font-weight-bold"></p>
                
                <p class="lead">
                <span class="mr-1">{{ user.firstname }} {{ user.firstname }}</span>
                <p class="lead font-weight-bold"></p>          
            </div>
    </section>
    <section class="text-center mb-4">
        <div class="p-4">
        {% for design in designs %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="view overlay">
              <img src="{{ design.image.url }}" class="card-img-top">
              <a href="{{ design.get_absolute_url }}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body text-center">
              <h5>
                <strong>
                  <a href="{{ design.get_absolute_url }}" class="dark-grey-text">{{ design.name }}
                  </a>
                </strong>
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

  </div>
</main>
<!--Main layout-->
 
{% endblock content %}